.mainPage {
  --main-red-color: #a9191f;
  --dark-grey-color: #2d2d2d;
  --light-grey-color: #b8b8b8;
  border-radius: 25px;
  box-shadow: var(--box-shadow);
  padding: 40px;
  margin: 50px 0px;
  text-align: center;
  background-color: var(--dark-grey-color);
  color: white;
  width: 70vw;
}
.titleProfil {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  padding-bottom: 1rem;
  border-bottom: 3px solid#a9191f;
}

.NicknameAvatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 30px 30px 0 0;

  width: 100%;
  gap: 20px;
}
.Nickname {
  font-family: "Montserrat", sans-serif;
  padding: 0 1rem 0 1rem;
  color: white;
  background-color: #2d2d2d;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}
.avatarProfile {
  background-color: #a9191f;
  border-radius: 30px;
  width: 400px;
  box-shadow: var(--box-shadow);
}
.presentacionPersonal {
  display: flex;
  justify-content: left;
  color: white;

  width: 100%;
  margin-bottom: 40px;
}
.PresentacionUser {
  background-color: #a9191f;
  border-radius: 25px;
  box-shadow: var(--box-shadow);
}
.presentacionPersonal2 {
  display: flex;
  justify-content: end;
  flex-direction: column;
  color: white;
  width: 100%;
}

.presentacionPersonalPares {
  display: flex;
  flex-direction: column;

  text-align: left;
}
.presentacionPersonalP {
  color: #b8b8b8;
}

/* ///////////////// */ /*ModifyProfile */ /*///////////////// */
.formContainter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 40px;
  padding: 1rem;
  width: 90%;
  box-shadow: var(--box-shadow);

  border-radius: 25px;
  background-color: #2d2d2d;
  color: white;
}
.FormProfile {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

legend {
  font-size: 2rem;
  border-bottom: 3px solid#a9191f;
}

.FormSectionProfile {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.inputFormProfile {
  background-color: #b8b8b8;
  width: 33%;
}

.inputFormProfile::placeholder {
  color: white;
  font-size: 0.8rem;
  text-align: center;
}

.Biografia {
  width: 100%;
  height: 5rem;
  margin-bottom: 1rem;
}
.buttonsFrom {
  display: flex;
  gap: 2rem;
}
.ButtonForm {
  background: var(--main-red-color);
  color: white;
  margin: auto;
  padding: 10px 40px;
  cursor: pointer;
  font-size: 20px;
}
