@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

/*Reseteo de CSS y variables de color*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --main-red-color: #a9191f;
  --dark-grey-color: #2d2d2d;
  --light-grey-color: #b8b8b8;
  --box-shadow: 4px 5px 23px #191919;
  font-family: "Lato", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  background-color: #3e3e3e;
}

main {
  display: flex;
}

main .post {
  width: 1000px;
}

.post {
  border-radius: 25px;
  box-shadow: var(--box-shadow);
  padding: 40px;
  margin: 50px 0px;
  text-align: center;
  background-color: var(--dark-grey-color);
  color: #fff;
}

.postMainContent {
  padding-bottom: 20px;
}

.postTitle {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.postImg {
  width: 920px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 5px solid var(--main-red-color);
}

.defaultPostImg {
  width: 920px;
  margin-bottom: 10px;
}

.interactCommentsButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.interactComments {
  display: flex;
  gap: 20px;
}

.postLikes,
.postDisLikes,
.commentsNumber {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  box-shadow: var(--box-shadow);
  height: 50px;
  width: 100px;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: var(--dark-grey-color);
}

.commentsNumber:hover,
.postLikes:hover,
.postDisLikes:hover {
  border: 1px solid #fff;
}
.editDeltBtn {
  display: flex;
  gap: 20px;
}
.editPostBtn,
.delPostBtn {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  box-shadow: var(--box-shadow);
  height: 50px;
  width: 100px;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: var(--main-red-color);
}

.editPostBtn {
  font-size: 1.4rem;
}

.delPostBtn:hover,
.editPostBtn:hover {
  border: 1px solid #fff;
}

.commentsNumber {
  color: white;
}
.postContent {
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  padding: 20px;
}

.userAvatar {
  border-radius: 50%;
  max-height: 40px;
  max-width: 40px;
}

.postUserAndDate {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
  padding-bottom: 30px;
}

.postUserInfo {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.postCreatedAt {
  font-style: italic;
  padding: 10px 20px;
  border-radius: 50px;
  box-shadow: var(--box-shadow);
  border: 2px solid var(--light-grey-color);
}

.nickName {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  display: inline-block;
}

.postTopic {
  text-align: left;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  font-family: "Lato", sans-serif;
  border-bottom: 3px solid var(--main-red-color);
  font-size: 1.5rem;
  font-weight: 700;
}

.postBody {
  text-align: left;
  margin: 0px 20px;
  font-family: "Lato", sans-serif;
}

/* CSS para el componente de comentarios */

.comments h3 {
  font-size: 1.8rem;
  margin-bottom: 40px;
  padding: 20px 0px 20px 0px;
  text-align: center;
  border-bottom: 3px solid var(--main-red-color);
}

.comments {
  text-align: left;
  padding: 20px;
}

.commentBox {
  margin: 40px 10px;
  padding: 20px 20px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.commentUserInfoDate {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
  margin-bottom: 30px;
  border-bottom: 2px solid var(--light-grey-color);
  padding-bottom: 30px;
}

.commentUserInfo {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.commentDate {
  font-style: italic;
  padding: 10px 20px;
  border-radius: 50px;
  box-shadow: var(--box-shadow);
  border: 2px solid var(--light-grey-color);
}

.commentContent {
  font-size: 1.1rem;
  margin-left: 15px;
}

.commentsForm {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin: 40px 10px;
  padding: 40px 20px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}
.commentsForm input {
  height: 120px;
  border-radius: 10px;
  width: 100%;
}

.commentsForm input::placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

.commentsForm button {
  background-color: var(--main-red-color);
  border-radius: 10px;
  width: 150px;
  box-shadow: var(--box-shadow);
  background-color: var(--main-red-color);
  font-family: "Lato", sans-serif;
}

.commentsForm button:hover {
  transform: scale(1.1);
  border: 1px solid #fff;
}

/* RESPONSIVE */

/* Small screens */
@media only screen and (max-width: 600px) {
  main .post {
    width: 90%; /* Adjust as needed */
  }

  .post {
    padding: 20px;
    margin: 30px 0;
  }

  .postTitle {
    font-size: 2rem;
  }

  .postImg,
  .defaultPostImg {
    width: 100%;
  }

  .postUserAndDate {
    flex-direction: column;
    gap: 10px;
  }

  .postCreatedAt,
  .postUserInfo,
  .interactCommentsButtons,
  .editDeltBtn,
  .commentsForm {
    flex-direction: column;
  }

  .editPostBtn,
  .delPostBtn,
  .postLikes,
  .postDisLikes,
  .commentsNumber {
    width: 100%;
    margin-bottom: 10px;
  }

  .editPostBtn {
    font-size: 1.2rem;
  }

  .commentBox,
  .commentUserInfoDate {
    flex-direction: column;
  }

  .commentUserInfo {
    flex-direction: column;
    align-items: flex-start;
  }

  .commentContent {
    margin-left: 0;
  }

  .commentsForm input {
    height: auto;
  }
}

/* Medium screens */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .post {
    padding: 30px;
    margin: 40px 0;
  }

  .postTitle {
    font-size: 2.5rem;
  }

  .postImg,
  .defaultPostImg {
    width: 100%;
  }

  .postCreatedAt,
  .postUserInfo,
  .interactCommentsButtons,
  .editDeltBtn,
  .commentsForm {
    flex-direction: row;
  }

  .editPostBtn,
  .delPostBtn,
  .postLikes,
  .postDisLikes,
  .commentsNumber {
    width: auto;
    margin-bottom: 20px;
  }

  .commentBox,
  .commentUserInfoDate {
    flex-direction: row;
  }

  .commentUserInfo {
    flex-direction: row;
    align-items: center;
  }

  .commentContent {
    margin-left: 15px;
  }
}
