.post {
  border-radius: 25px;
  box-shadow: var(--box-shadow);
  padding: 50px;
  margin: 50px 0px;
  text-align: center;
  background-color: var(--dark-grey-color);
  color: #fff;
  width: 1000px;
  
}
.postHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  gap: 20px;
}

.favContainer {
  display: flex;
  justify-content: end;
}

.favoriteBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow);
  height: 40px;
  width: 80px;
  border-radius: 5px;
  background-color: var(--main-red-color);
}

.favoriteBtn:hover {
  border: 1px solid #fff;
}

.postTitle {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  margin-bottom: 20px;
}

.postImg {
  width: 920px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 5px solid var(--main-red-color);
}

.defaultPostImg {
  width: 920px;
  margin-bottom: 15px;
}

.interactCommentsButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.interactComments {
  display: flex;
  gap: 20px;
}


.commentsNumber {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  box-shadow: var(--box-shadow);
  height: 50px;
  width: 100px;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: var(--dark-grey-color);
}

.sendLike, .sendDisLike {
  height: 25px;
}

.clickLikeArrow:hover,
.notClickLikeArrow:hover,
.notClickDislikeArrow:hover,
.clickDisLikeArrow:hover{
  cursor: pointer;
}



.postLikes{
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  box-shadow: var(--box-shadow);
  height: 50px;
  width: 130px;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: var(--dark-grey-color);
}

.clickLikeArrow, .clickDisLikeArrow {
  color: var(--main-red-color);
  font-size:1.5rem
}

.likesNumber {
  margin-bottom: -2px;
}
.commentsNumber:hover
 {
  border: 1px solid #fff;
}
.editDeltBtn {
  display: flex;
  gap: 20px;
}
.editListPostBtn,
.delPostBtn {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  box-shadow: var(--box-shadow);
  height: 50px;
  width: 100px;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: var(--main-red-color);
}

.editListPostBtn {
  font-size: 1.4rem;
}

.delPostBtn:hover,
.editListPostBtn:hover {
  border: 1px solid #fff;
}

.commentsNumber {
  color: white;
}
.postContent {
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  padding: 20px;
}

.userAvatar {
  border-radius: 50%;
  max-height: 40px;
  max-width: 40px;
}

.postUserAndDate {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
  margin-bottom: 20px;
}

.postUserInfo {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.postCreatedAt {
  font-style: italic;
  padding: 10px 20px;
  border-radius: 50px;
  box-shadow: var(--box-shadow);
  border: 2px solid var(--light-grey-color);
}

.nickName {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  display: inline-block;
}

.postTopic {
  text-align: left;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  font-family: "Lato", sans-serif;
  border-bottom: 3px solid var(--main-red-color);
  font-size: 1.5rem;
  font-weight: 700;
}

.postBody {
  text-align: left;
  margin: 0px 20px;
  font-family: "Lato", sans-serif;
}

.postTag {
  font-style: italic;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  background-color: var(--main-red-color);
  width: 18%;
  margin-top: 20px;
}
/* CSS COMMENTS */

.comments h3 {
  font-size: 1.8rem;
  margin-bottom: 40px;
  padding: 20px 0px 20px 0px;
  text-align: center;
  border-bottom: 3px solid var(--main-red-color);
}

.comments {
  text-align: left;
  padding: 20px;
  background-color: var(--dark-grey-color);
  border-radius: 25px;
  box-shadow: var(--box-shadow);
  margin-bottom: 50px;
}

.commentBox {
  margin: 40px 10px;
  padding: 20px 20px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.commentUserInfoDate {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
  margin-bottom: 30px;
  border-bottom: 2px solid var(--light-grey-color);
  padding-bottom: 30px;
}

.commentUserInfo {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.commentDate {
  font-style: italic;
  padding: 10px 20px;
  border-radius: 50px;
  box-shadow: var(--box-shadow);
  border: 2px solid var(--light-grey-color);
}

.commentContent {
  font-size: 1.1rem;
  margin-left: 15px;
}

.commentsForm {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin: 40px 10px;
  padding: 40px 20px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}
.commentsForm input {
  height: 120px;
  border-radius: 10px;
  width: 100%;
}

.commentsForm input::placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

.commentsForm button {
  background-color: var(--main-red-color);
  border-radius: 10px;
  width: 150px;
  box-shadow: var(--box-shadow);
  background-color: var(--main-red-color);
  font-family: "Lato", sans-serif;
}

.commentsForm button:hover {
  transform: scale(1.1);
  border: 1px solid #fff;
}

.delCmtBtn {
  font-family: "Montserrat", sans-serif;
  box-shadow: var(--box-shadow);
  height: 40px;
  width: 60px;
  border-radius: 10px;
  background-color: var(--main-red-color);
  display: block;
  margin: 0 0 0 auto;
}

/* RESPONSIVE */

/* TABLET */

/* Responsividad específica para tablets */
@media screen and (max-width: 768px) {
  .post {
    width: 90%;
    max-width: 600px; /* Ajusta este valor según sea necesario */
    padding: 15px;
    margin: 20px auto;
  }

  .favoriteBtn {
    height: 25px;
    width: 50px;
  }

 

  .postImg,
  .defaultPostImg {
    width: 100%;
    margin-bottom: 10px;
  }

  .interactCommentsButtons,
  .interactComments,
  .postDisLikes,
  .commentsNumber {
    font-size: 1rem;
  }

  .editDeltBtn,
  .editListPostBtn,
  .delPostBtn {
    height: 30px;
    width: 60px;
  }

  .favoriteBtn,
  .editDeltBtn,
  .editListPostBtn,
  .delPostBtn,
  .commentsForm button {
    width: 100%; /* Hace que los botones se ajusten al ancho del contenedor */
    max-width: 150px; /* Ajusta este valor según sea necesario */
    margin: 10px 0;
  }
  .userAvatar {
    max-height: 25px;
    max-width: 25px;
  }

  
  .postUserInfo,
  .postCreatedAt {
    gap: 10px;
    padding-bottom: 10px;
  }
  .postUserAndDate {
    padding-bottom: -50px;
  }

  .nickName,
  .postTopic {
    font-size: 1rem;
  }

  .postContent {
    padding: 10px;
  }

  .postBody {
    margin: 0;
  }

  .postTag {
    font-size: 0.8rem;
  }

  .comments h3 {
    font-size: 1.2rem;
    margin-bottom: 15px;
    padding: 10px 0;
  }

  .comments {
    padding: 10px;
    margin-bottom: 20px;
  }

  .commentBox {
    margin: 15px 10px;
    padding: 10px;
  }

  .commentUserInfoDate,
  .commentUserInfo,
  .commentDate {
    gap: 10px;
    padding: 10px;
  }

  .commentContent {
    font-size: 0.9rem;
  }

  .commentsForm {
    margin: 15px 10px;
    padding: 15px;
  }

  .commentsForm input {
    height: 80px;
    width: 100%;
    max-width: 100%; /
  }

  .commentsForm button {
    width: 120px;
  }
}

/* MOBILE */
/* Responsividad específica para dispositivos móviles */
@media screen and (max-width: 480px) {
  .post {
    width: 90%;
    padding: 10px;
    margin: 20px auto;
  }

  .favoriteBtn,
  .editDeltBtn,
  .editListPostBtn,
  .delPostBtn,
  .commentsForm button {
    width: 100%;
    max-width: 150px;
    margin: 10px 0;
  }

  .commentsForm input {
    width: 100%;
    max-width: 100%;
  }

  .userAvatar {
    max-height: 20px;
    max-width: 20px;
  }

  .nickName,
  .postTopic {
    font-size: 1rem;
  }

 

  .comments h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    padding: 10px 0;
  }

  .commentContent {
    font-size: 0.8rem;
  }

  .postImg,
  .defaultPostImg {
    width: 100%;
    margin-bottom: 10px;
  }
}
